PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/teachers_day
ACCESS_TOKEN_SECRET=cse_teachers_day_super_secret_jwt_key_2026_x89a_99b!
ACCESS_TOKEN_EXPIRES_IN=1d
COOKIE_SECRET=cse_cookie_secret_key_long_secure_random_string_2026
SUPERADMIN_NAME=CSE Super Administrator
SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_PASSWORD=change_this_password
SUPERADMIN_DEPARTMENT=CSE
